// .sticky{
//     position: sticky;

// }

// .fo-scroll{
//     height: 65vh;
//     overflow-y: auto;
// }
// .table_wrapper {
//     width: 100%;
//     table-layout: fixed;
//     border-collapse: collapse;
// }
// .sicky{
//     position: sticky;
//     overflow-y: auto;
// }


// .table_wrapper tbody{
//     display: block;
//       width: 100%;
//       overflow: auto;
//       height: 65vh;
// }
// .table_wrapper thead tr{
//     display: block;
// }

// .table_wrapper th, .table_wrapper td{
//     padding: 5px 20px;
//     width: 200px;
// }
.duke{
    margin-left: 85%;
    color:white;
}
.table_wrapper {
    overflow-y: auto;
    height: 70vh;
  }
  
  .table_wrapper table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_wrapper th,
  .table_wrapper td {
    padding: 8px 16px;
  }
  
  .table_wrapper th {
    position: sticky;
    top: 0;
    // background: #eee;
  }
  .select-all{
    margin: 5px 17px;
  }
  .no_data_found{
      text-align: center;
  }