// .sticky{
//     position: sticky;

// }
.table_wrapper {
    overflow-y: auto;
    height: 65vh;
  }
  
  .table_wrapper table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_wrapper th,
  .table_wrapper td {
    padding: 8px 16px;
  }
  
  .table_wrapper th {
    position: sticky;
    top: 0;
    // background: #eee;
  }