<div *ngIf="myLoader1" class="spinner">
    <img src="assets/images/spinner.gif">
</div>

<div class="close_modal">
    <mat-icon mat-dialog-close  class="v-align-middle display" matTooltip="Close">close
    </mat-icon>
</div>
<h4>Reason</h4>


<br>

<div class="table_wrapper">
<table>
<tr>
    <th>S.NO</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Reason</th>
    <th>Idle Time</th>
</tr>
<tr *ngFor="let VAPMS of sppivaluedle; let i = index" class="tadbel_data_view">
    <td>{{i+1}}</td>
    <td>{{VAPMS.start | date:'dd-MM-yyyy ; HH:mm:ss a'}}</td>
    <td>{{VAPMS.end | date:'dd-MM-yyyy ; HH:mm:ss a'}}</td>
    <td>{{VAPMS.reason}}</td>
    <td>{{datas[i]}}</td>
</tr>
<div class="fo-center" *ngIf="sppivaluedle.length==0" >
    <h4 >No Data Found</h4>
    </div>
</table>
</div>